* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    .topBarDesk {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100px;
        background-color: #fff;

        a {
            display: flex;
            margin-left: 5px;

        }

        ul {
            display: flex;
            gap: 20px;
            margin-right: 20px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 20px;
                    color: #0e980e;
                }
            }
        }
    }
}

.first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;

    h1 {
        color: rgb(225, 76, 65);
        text-transform: uppercase;
        font-weight: 500px;
        font-size: 30px;
        margin: 0;
    }

    // Boton carrito - Resumen de compra
    #cesta-carrito {
        border: none;
        color: rgb(225, 76, 65);
        font-size: 30px;
        background-color: white;
        border-radius: 50%;
        margin-top: 3px;
        padding: 10px 20px;

        transition: all .3s;

    }

    #cesta-carrito:hover {
        cursor: pointer;
        color: white;
        background-color: rgb(225, 76, 65);
    }

    #cesta-carrito:focus {
        outline: none;
    }
}

main {
    img {
        width: 100%;
    }


    h2 {
        span {
            color: #0e980e;
        }
    }

    #producto-contenedor {
        display: grid;
        gap: 1rem;
        max-width: 60rem;
        margin: 60px auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #h2Servicios {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
        margin: 0;
        padding-left: 20px;
        line-height: 18px;
    }

    .gridServicios {
        display: block;

        .servMain {
            display: flex;
            align-items: center;
            border-radius: 15px;
            box-shadow: 6px 5px 5px rgba(0, 128, 0, .4);

            label {
                width: 50%;
                text-align: center;
                color: black;
            }

            a {
                width: 50%;

                img {
                    height: 130px;
                    padding: 5px;
                    margin-bottom: -10px;
                    border-radius: 12px;

                }
            }

            p {
                color: black;
                display: flex;
                justify-content: center;
            }
        }

        .servMain__2 {
            margin-top: 15px;
        }
    }

    .card {
        display: flex;
        position: unset
    }

    .card-image {
        width: 25%;
        position: unset
    }

    .card-content {
        width: 50%;
    }
}

select {
    display: inline;
    text-align: center;
    border: 1px solid lightskyblue;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: rgb(225, 76, 65);
    padding-bottom: 5px;
}

.modal-carrito #btn-cerrar-carrito {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(225, 76, 65) !important;
    border: none;
    background-color: white;
}

.modal-carrito #btn-cerrar-carrito:hover {
    cursor: pointer;
}

.modal-carrito #btn-cerrar-carrito:focus {
    outline: none;
}

.modal-carrito .producto-precio {
    padding-top: 10px;
}

.card .card-image .card-title {
    color: rgb(225, 76, 65);
    position: unset
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.productoEnCarrito:hover {
    border-left: 5px solid rgb(225, 76, 65);
}

.boton-eliminar {
    background-color: white;
    color: #ff6961;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}

.boton-eliminar:focus {
    outline: none;
}



footer {
    .redes {
        margin-top: 2%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .copyright {
        text-align: center;
    }
}


// SECCION INGRESAR

.success,
.error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: green;
}

.error {
    background: red;
}